@import "tailwindcss";

body{
    background-color: #fcf9f2;
}

.auth-container {
  width: 350px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 100px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-container button {
  margin-top: 10px;
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #005fcc;
}

.auth-container p {
  margin-top: 10px;
  font-size: 14px;
}

.splash-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* Change later to theme color */
}

.splash-logo {
  width: 300px;
  height: auto;
  object-fit: contain;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
